%tr
  %td
    %span
      -#-if current_user?(@user)
      = link_to gravatar_for(wall_post.poster, :size =>50), profile_path(wall_post.poster)
      = link_to wall_post.poster.name, profile_path(wall_post.poster)
      -#- else if post.poster != current_user
        -#Posted on ur wall.
    %span
      %br/
      = wall_post.content
      %br/
    %span
      Posted
      = time_ago_in_words wall_post.created_at
      ago.
      = link_to "delete", post_path(wall_post), :method => :delete, 
        :class => "delete", :remote => true if current_user?(wall_post.poster)
