#left_side.span-5.prepend-top.append-bottom.border
  #gravatar.box
    = gravatar_for @user, :size=>150
    - unless hide_edit_links?
      %br/
      %a{:href => "http://gravatar.com/emails", :target=>"_blank"}
        change
    %br/
  #details.box
    = @spec.full_name
    %br/
    =@spec.occupation
  %br/
  %hr/
  = link_to "#{@user.name}\'s info", user_path(@user)
  %br/
  = link_to "#{@user.name}\'s friends", friends_user_path(@user)
  %br/
  -#= friendship_status(current_user, @user) if !User.is_same?(@user, current_user)
  = friendship_status(current_user, @user) unless current_user?(@user)
  %br/
  = link_to "Send email", :controller =>"emails",
    :action =>"correspond", :id =>@user unless current_user?(@user)
  %br/

  - unless Friendship.exists?(current_user, @user) or current_user?(@user)
    = link_to "Add #{@user.name} as friend",{:controller =>"friendships", :action =>"initiate",
      :id => @user.id}, :confirm => "Add #{@user.name} as friend?"
  %hr/
  -unless @faq.bio.blank?
    #bio
      %h2
        %strong
          My Bio
        %hr/
      = sanitize @faq.bio
      -#%hr/
      - unless hide_edit_links?
        %span.edit_link
          = link_to "(edit)", edit_faq_path(@user)


  -#mutual friends are displayed only when in profile view mode 
  -#- if hide_edit_links? and !current_user?(@user)
  -#- unless current_user?(@user) or @user.friends.empty? or current_user.friends.empty?
    -#= render 'friendships/mutual_friends'
  %hr/

  = render 'friendships/friends'

#middle_side.span-14.prepend-top.append-bottom
  -#form to write a new wall post (foreigners) or status update (profile owner) 
    -#intend to use ajax here 
  - unless current_user?(@user)
    Post to wall
  - else
    Post status
  %br/
  #post-form
    = form_for @user.posts.build(:poster_id => current_user.id) do |f|
      = f.hidden_field  :user_id
      -#= f.text_area :content,:id=>"comment-area", :rows => 3, :cols => 5, :maxlength => 140
      = f.text_field :content
      %br/
      = f.submit "publish"


  -#displays the status updates of the user whose profile is being viewed 
  -#- unless @status.empty?
    -#%fieldset
      -#%legend.prepend-2
        -#Status
      -#%table#posts-table
        -#-#= render @posts
        -#= render @posts
    -#= will_paginate @posts

  -#friend feeds are only displayed on current user own profile and when there are feeds available 
  - unless !current_user?(@user) or @friend_feeds.empty?
    %fieldset
      %legend
        Friend Feeds
      %table
        -@friend_feeds.each do |friend_feed|
          = render :partial =>'profiles/friend_feeds', :locals => {:friend_feed => friend_feed}
    = will_paginate @friend_feeds

  -#posts by friends on user whose profile is being viewed. 
  - unless @wall_posts.empty?
    %fieldset
      %legend
        Wall Posts
      %table
        - @wall_posts.each do |wall_post|
          -#= render :partial =>'profiles/wall_posts', :collection => @wall_posts
          = render :partial =>'profiles/wall_posts', :locals => {:wall_post=>wall_post}
    = will_paginate @wall_posts

#right_side.span-4.prepend-1.last.prepend-top.append-bottom.pull-1.border
  %hr/
  notification and ads will be here
  mobile monday this friday
  saturday mesters follow the link
  =  link_to "saturday mesters", "#"
  %hr/
