#left_side
  #gravatar
    = gravatar_for (@user, :size=>150)
    - unless hide_edit_links?
      %a{:href => "http://gravatar.com/emails", :target=>"_blank"}
        change
    %br/
  = @spec.full_name
  %br/
  =@spec.occupation
  %br/
  %hr/
  = link_to "#{@user.name}\'s info", user_path(@user)
  %br/
  = link_to "#{@user.name}\'s friends", friends_user_path(@user)
  %br/
  -#= friendship_status(current_user, @user) if !User.is_same?(@user, current_user)
  = friendship_status(current_user, @user) unless current_user?(@user)
  %br/
  = link_to "send user a mail", :controller =>"emails",
    :action =>"correspond", :id =>@user unless current_user?(@user)
  %br/

  - unless Friendship.exists?(current_user, @user) or current_user?(@user)
    = link_to "Add #{@user.name} as friend",{:controller =>"friendships", :action =>"initiate",
      :id => @user.id}, :confirm => "Add #{@user.name} as friend?"
  %hr/
  -unless @faq.bio.blank?
    #bio
      %h2
        My Bio
      = sanitize @faq.bio
      -#%hr/
      - unless hide_edit_links?
        %span.edit_link
          = link_to "(edit)", edit_faq_path(@user)


  -#mutual friends are displayed only when in profile view mode 
  - if hide_edit_links? and !current_user?(@user)
    = render 'friendships/mutual_friends'
  %hr/

  = render 'friendships/friends'

#middle_side
  -#form to write a new wall post (foreigners) or status update (profile owner) 
    -#intend to use ajax here 
  - unless current_user?(@user)
    Post to wall
  - else
    Post status
  %br/
  = form_for @user.posts.build(:user_id => current_user) do |f|
    = f.hidden_field  :user_id
    = f.text_field :content
    %br/
    = f.submit "Post"

  -#displays the status updates of the user whose profile is being viewed 
  - unless @status.empty?
    %fieldset
      %legend
        Status
      %table
        -#= render @posts
        = render @posts
    = will_paginate @posts

  -#friend feeds are only displayed on current user own profile and when there are feeds available 
  - unless !current_user?(@user) or @friend_feeds.empty?
    %fieldset
      %legend
        Friend Feeds
        %table
          = render :partial =>'profiles/wall_posts', :collection => @wall_posts
    -#= will_paginate @friend_feeds

  -#posts by friends on user whose profile is being viewed. 
  - unless @wall_posts.empty?
    %fieldset
      %legend
        Wall Posts
        %table
          = render :partial =>'profiles/wall_posts', :collection => @wall_posts
    -#= will_paginate @wall_posts

#right_side
  notification and ads will be here
  mobile monday this friday
  saturday mesters follow the link
  = link_to "saturday mesters", "www.google.com"
