%tr

  %td
    = link_to (gravatar_for user, :size => 80), profile_path(user)
    %br/
    = link_to user.name, profile_path(user)

  %td
    = friendship_action(current_user, user)

  %td
    - if current_user.admin?
      = link_to "delete", user, :method => :delete,
      :confirm => "Are you sure?", :title => "Delete #{user.name}"
