%tr
  %td
    = gravatar_for user, :side => 30
    %br/
    = link_to user.name, profile_path(user)
  %td
    = friendship_action(current_user, user)

  %td
    - if current_user.admin?
      = link_to "delete", user, :method => :delete,
      :confirm => "Are you sure?", :title => "Delete #{user.name}"
