= will_paginate @friends
%fieldset
  %legend
    Friends List
  %table
    - @friends.each do |friend|
      %tr
        %td
          = gravatar_for(friend, :size=>60)
          %br/
          = friend.name
        %td
          -#delete action is accessible only if current user is viewing his own friends. 
          - unless hide_edit_links? or !current_user?(@user)
            = link_to "Delete", {:controller => "friendships",
                  :action => "delete", :id => friend.id},
                  :confirm => "Delete friendship with #{friend.name}?"
= will_paginate @friends
