%h2 User Hub
#left_side
  %h1
    #gravatar
      = gravatar_for (@user)
      %br/
      = @user.name
    = @spec.full_name
    %br/
    =@spec.occupation
    %br/
    =@spec.birthday
  %hr/
  = link_to profile_url(@user), profile_path(@user)
  %br/
  = friendship_status(current_user, @user) if !User.is_same?(@user, current_user)
  %br/
  = link_to "send user a mail", :controller =>"emails",
            :action =>"correspond", :id =>@user unless User.is_same?(@user, current_user)
  %br/
  - unless Friendship.exists?(current_user, @user) or User.is_same?(@user, current_user)
    = link_to "Add #{@user.name} as friend",{:controller =>"friendships", :action =>"initiate",
                   :id => @user.id}, :confirm => "Add #{@user.name} as friend?"
  %hr/
  #bio
    %h2
      My Bio
    = sanitize @faq.bio
    %br/
    - unless hide_edit_links?
      %span.edit_link
        = link_to "(edit)", edit_faq_path(@user)
  = render 'friendships/friends'

#middle_side
  %fieldset
    %legend
      Basic User Info
    %table
      %tr
        %td.label
          Screen Name:
        %td
          = @user.name
      %tr
        %td.label
          Email:
        %td
          = @user.email
      %tr
        %td.label
          Password:
        %td
          ******
    - unless hide_edit_links?
      %span.edit_link
        = link_to "edit", edit_user_path(@user)

  %fieldset
    %legend
      Networks
    %table
      %tr
        %td
          Facebook:
        %td
          = @network.facebook
      %tr
        %td
          Twitter:
        %td
          = @network.twitter
      %tr
        %td
          LinkedIn:
        %td
          = @network.linkedin
      %tr
        %td
          Youtube:
        %td
          = @network.youtube

    - unless hide_edit_links?
      %span.edit_link
        = link_to "edit", edit_network_path(@user)
        
  %fieldset
    %legend
      User Spec
    %table
      -#= render 'specs/field_row', :collection => Spec::ALL_FIELDS
      - Spec::ALL_FIELDS.each do |field|
        = render 'specs/field_row', :field_row => field
    - unless hide_edit_links?
      %span.edit_link
        = link_to "edit", edit_spec_path(@user)
  - Faq::FAVOURITES.each do |favourite|
    = render 'faqs/sidebar_box', :sidebar_box => favourite

#right_side
  notification and ads will be here
  mobile monday this friday
  saturday mesters follow the link
  = link_to "saturday mesters", "www.google.com"
