#left_side.span-5.prepend-top
  #gravatar
    = gravatar_for (@user, :size=>150)
    - unless hide_edit_links?
      %a{:href => "http://gravatar.com/emails", :target=>"_blank"}
        change
    %br/
  = @spec.full_name
  %br/
  =@spec.occupation
  %br/
  %hr/
  = link_to "#{@user.name}\'s info", user_path(@user)
  %br/
  -#= friendship_status(current_user, @user) if !User.is_same?(@user, current_user)
  = friendship_status(current_user, @user) unless current_user?(@user)
  %br/
  = link_to "send user a mail", :controller =>"emails",
            :action =>"correspond", :id =>@user unless current_user?(@user)
  %br/

  - unless Friendship.exists?(current_user, @user) or current_user?(@user)
    = link_to "Add #{@user.name} as friend",{:controller =>"friendships", :action =>"initiate",
                   :id => @user.id}, :confirm => "Add #{@user.name} as friend?"
  %hr/
  #bio
    %h2
      My Bio
    = sanitize @faq.bio
    -#%hr/
    - unless hide_edit_links?
      %span.edit_link
        = link_to "(edit)", edit_faq_path(@user)


  -#mutual friends are displayed only when in profile view mode 
  - if hide_edit_links? and !current_user?(@user)
    = render 'friendships/mutual_friends' 
  %hr/

  = render 'friendships/friends' 

#middle_side.span-14.prepend-top.append-bottom
  %fieldset
    %legend
      Basic User Info
    %table
      %tr
        %td.label
          Screen Name:
        %td
          = @user.name
      %tr
        %td.label
          Email:
        %td
          = @user.email
      %tr
        %td.label
          Password:
        %td
          ******
    - unless hide_edit_links?
      %span.edit_link
        = link_to "edit", edit_user_path(@user)

  %fieldset
    %legend
      Networks
    %table
      %tr
        %td
          Facebook:
        %td
          = @network.facebook
      %tr
        %td
          Twitter:
        %td
          = @network.twitter
      %tr
        %td
          LinkedIn:
        %td
          = @network.linkedin
      %tr
        %td
          Youtube:
        %td
          = @network.youtube

    - unless hide_edit_links?
      %span.edit_link
        = link_to "edit", edit_network_path(@user)

  %fieldset
    %legend
      User Spec
    %table
      -#= render 'specs/field_row', :collection => Spec::ALL_FIELDS
      - Spec::ALL_FIELDS.each do |field|
        = render 'specs/field_row', :field_row => field
    - unless hide_edit_links?
      %br/
      %span.edit_link
        = link_to "edit", edit_spec_path(@user)
  - Faq::FAVOURITES.each do |favourite|
    = render 'faqs/sidebar_box', :sidebar_box => favourite
    %hr/

  - unless hide_edit_links? #preference are not to be shown in settings mode 
    %fieldset
      %legend
        Preferences
      %table
        %tr
          %td
            Show Profile to:

          %td
            = @preference.profile_view

      %span.edit_link
        = link_to "edit", edit_preference_path(@user)

#right_side.span-4.prepend-top.last.append-bottom
  %hr/
  Notifications and ads will be here
  mobile monday this friday
  saturday mesters follow the link
  = link_to "Saturday MESTers", "www.google.com"
  %hr/
