%table
  %tr
    %th
      = pluralize(@friends.count,"friend")
  - @friends.each do |friend|
    = render "friendships/friend", :friend => friend
  -unless @requested_friends.empty? or hide_edit_links?
    %tr
      %th
        = pluralize(@requested_friends.count, "requesting friend")
    - @requested_friends.each do |requested_friend|
      = render "friendships/requested_friend", :requested_friend => requested_friend

  -unless @pending_friends.empty? or hide_edit_links?
    %tr
      %th
        = pluralize(@pending_friends.count, "requested friend")
    - @pending_friends.each do |pending_friend|
      = render "friendships/pending_friend", :pending_friend => pending_friend
