%table
  %tr
    %th
      = pluralize(@friends.count,"friend")
  = render @friends
  -unless @requested_friends.empty? or hide_edit_links?
    %tr
      %th
        = pluralize(@requested_friends.count, "requested friend")
    = render @requested_friends

  -unless @pending_friends.empty? or !hide_edit_links?
    %tr
      %th
        = pluralize(@pending_friends.count, "pending friend")
    = render @pending_friends
