%tr
  %td
    = gravatar_for requested_friend, :size => 30
    = link_to requested_friend.name, profile_path(requested_friend)
  %td
    = link_to "Accept", {:controller => "friendships",
          :action => "accept", :id => requested_friend.id}
    = link_to "Decline", {:controller => "friendships",
      :action => "decline", :id => requested_friend.id},
      :confirm => "Turn down friendship with #{requested_friend.name}?"
