%h1 Edit Preference
%h1
  =@user.name

= form_for @preference do |f|
  %fieldset
    %legend 
      = @title
    = render 'shared/error_messages', :object =>f.object
    .field
      = f.label :profile_view
      %br
      = radio_button :preference, :profile_view, "all"
      all
      = radio_button :preference, :profile_view, "friends"
      friends
      %br 
    .actions
      = f.submit "Edit preference"

