%tr
  %td
    %span
      = div_for post do
        -#-if current_user?(@user)
        = link_to gravatar_for(post.poster, :size =>50), profile_path(post.poster)
        = link_to post.poster.name, profile_path(post.poster)
      -#- else if post.poster != current_user
        -#Posted on ur wall.
    %span
      %br/
      = post.content
      %br/
    %span
      Posted
      = time_ago_in_words post.created_at
      ago.
      = link_to "delete", post_path(post), :method => :delete, 
        :class => "delete", :remote => true if current_user?(@user)
