
%fieldset
  %legend
    = @title

  = form_for (@message, :url=>{:controller=>"emails", :action=>"correspond",
    :id=>@recipient})  do |f|

    = render "shared/error_messages", :object => f.object

    = f.label :subject
    %br/
    =f.text_field :subject
    %br/
    = f.label :body
    %br/
    = f.text_area :body
    %br/
    = f.submit "Send message"

