%header
  - logo_image = image_tag("hangoutt.png", :alt=>"site logo", :id=>"logo_image")
  = link_to logo_image, root_path
  #search_space
    =form_tag(users_path, :method => "post") do
      %label Search
      = text_field_tag "term", params[:term]
      = submit_tag "go"
  #white_space
    - if signed_in?
      = link_to_if(facebook_profile?, image_tag("icon_facebook.png",:alt=>"facebook", :class=>"network_logos", :id=>"facebook"),
        "/#{facebook_profile}", {:host=>"www.facebook.com"})

      = link_to_if(twitter_profile?, image_tag("icon_twitter.png",:alt=>"twitter", :class=>"network_logos", :id=>"twitter"),
        "/#{twitter_profile}", {:host=>"www.twitter.com"})

      = link_to_if(linkedin_profile?, image_tag("icon_linkedin.png",:alt=>"linkedin", :class=>"network_logos", :id=>"linkedin"),
        "/#{linkedin_profile}", {:host=>"www.linkedin.com"})

      = link_to_if(youtube_profile?, image_tag("icon_youtube.png",:alt=>"youtube", :class=>"network_logos", :id=>"youtube_logo"),
        "/#{youtube_profile}", {:host=>"www.youtube.com"})

    #nav_container
      %nav#round_special
        %ul
          %li 
            = link_to "Home", root_path
          - if signed_in?
            %li
              = link_to "Profile", profile_path(current_user)
            %li
              = link_to "All users", users_path
            %li
              = link_to "Settings", user_path(current_user)
            %li
              = link_to "Sign out", signout_path, :method => :delete
          - else
            %li
              = link_to "Contact", contact_path
            %li
              = link_to "About", about_path
            %li
              = link_to "Sign in", signin_path

