!!!Strict
%html
  %head
    = juggernaut
    %title
      = title #render the title from the title helper 
    = csrf_meta_tag
    = render "layouts/stylesheets"
    = javascript_include_tag "jquery/jquery-1.6.2.js"
    = javascript_include_tag "jquery-ui-1.7.2.custom.min.js"
    = javascript_include_tag "rails.js" #the rails.js file in rails-jquery folder 
    = javascript_include_tag :juggernaut
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
  %body
    .container.showgrid.prepend-top
      = render "layouts/nav"
      -##inner_content
      %section.span-24
        - flash.each do |key, value| #displaying the dynamic flash messages 
          %div.flash{:class => key}
            = value

        = yield

      -#= debug(params) if Rails.env.development?
      %footer
        CopyRight |
        = Time.now.year
