!!!Strict
%html
  %head
    = juggernaut
    %title
      = title #render the title from the title helper 
    = csrf_meta_tag
    = render "layouts/stylesheets"
    = javascript_include_tag :defaults
    = javascript_include_tag "prototype", :juggernaut
  %body
    .container.showgrid.prepend-top
      = render "layouts/nav"
      -##inner_content
      %section.span-24
        - flash.each do |key, value| #displaying the dynamic flash messages 
          %div.flash{:class => key}
            = value

        = yield

      -#= debug(params) if Rails.env.development?
      %footer
        CopyRight |
        = Time.now.year
